@font-face {
    font-family: Nothing;
    src: local("Nothing"),url(./fonts/Nothing.ttf) format("truetype")
}

@font-face {
  font-family: MB;
  src: local("Mb"),url(./fonts/Mb.ttf) format("truetype")
}

body {
 background-color: black;overflow-x: hidden;
}

head {
  background-color: black;
}

.h2 {
  font-family: Nothing;font-size: 50px;color: aliceblue;margin-left: 20px;margin-top: 10px;
}

.div1 {
  width: 1920px;height: 80px;background-color: rgb(0, 0, 0);position: center;
}

.b1 {
margin-left: 1350px;margin-top: -4%;background-color: transparent;font-family: Nothing;font-size: 32;color: aliceblue;border: 0px;
}

.b2 {
  margin-left: 1160px;margin-top: -4.4%;background-color: transparent;font-family: Nothing;font-size: 32;color: aliceblue;border: 0px;
}

.b3 {
  margin-left: 950px;margin-top: -5.6%;background-color: transparent;font-family: Nothing;font-size: 32;color: aliceblue;border: 0px;
}

.b4 {
  margin-left: 800px;margin-top: -6.0%;background-color: black;font-family: Nothing;font-size: 32;color: aliceblue;border: 0px;
}

.h1 {
  font-family: MB;font-size: 50px;color: aliceblue;margin-left: 100px;
}

.h12 {
  font-family: MB;font-size: 59px;color: #688B53;margin-left: 150px;margin-top: -1%;
}

.img1 {
  width: 504px;height: 509px;margin-left: 900px;
}

.div2 {
  margin-top: -25%;
}

.h13 {
  margin-left: 100px;color: aliceblue;font-family: Nothing;font-size: 65px;margin-top: 50px;
}

.dash {
  margin-left: 10px;margin-right: 1px;margin-top: -90px;font-family: nothing;color: aliceblue;
}

.h14 {
  margin-left: 150px;font-family: nothing;color: aliceblue;font-size: 60px;margin-top: 20px;
}

.img3 {
  margin-left: 350px;width: 100px;height: 100px;margin-top: -130px;
}

.h15 {
  margin-left: 150px;font-family: nothing;color: aliceblue;font-size: 60px;margin-top: 20px;
}

.img4 {
  margin-left: 550px;width: 100px;height: 80px;margin-top: -110px;
}

.h16 {
  margin-left: 150px;font-family: nothing;color: aliceblue;font-size: 60px;margin-top: 20px;
}

.img5 {
  margin-left: 330px;width: 75px;height: 100px;margin-top: -130px;
}

.h17 {
  margin-left: 150px;font-family: nothing;color: aliceblue;font-size: 60px;margin-top: 20px;
}

.img6 {
  margin-left: 450px;width: 100px;height: 100px;margin-top: -110px;
}

.void {
  margin-left: 1050px;width: 430px;height: 250px;margin-top: -570px;border-radius: 15px;
}

.python {
  margin-left: 960px;width: 520px;height: 340px;margin-top: -300px;border-radius: 20px;
}


body {
  background:#000;
}

#load {
  position:absolute;
  width:600px;
  height:36px;
  left:50%;
  top:40%;
  margin-left:-300px;
  overflow:visible;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
}

#load div {
  position:absolute;
  width:20px;
  height:36px;
  opacity:0;
  font-family:Helvetica, Arial, sans-serif;
  animation:move 2s linear infinite;
  -o-animation:move 2s linear infinite;
  -moz-animation:move 2s linear infinite;
  -webkit-animation:move 2s linear infinite;
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  color:#1cf54f;
}

#load div:nth-child(2) {
  animation-delay:0.2s;
  -o-animation-delay:0.2s;
  -moz-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
}
#load div:nth-child(3) {
  animation-delay:0.4s;
  -o-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
}
#load div:nth-child(4) {
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
}
#load div:nth-child(5) {
  animation-delay:0.8s;
  -o-animation-delay:0.8s;
  -moz-animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
#load div:nth-child(6) {
  animation-delay:1s;
  -o-animation-delay:1s;
  -moz-animation-delay:1s;
  -webkit-animation-delay:1s;
}
#load div:nth-child(7) {
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}

@keyframes move {
  0% {
    left:0;
    opacity:0;
  }
  35% {
    left: 41%; 
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    opacity:1;
  }
  65% {
    left:59%; 
    -moz-transform:rotate(0deg); 
    -webkit-transform:rotate(0deg); 
    -o-transform:rotate(0deg);
    transform:rotate(0deg); 
    opacity:1;
  }
  100% {
    left:100%; 
    -moz-transform:rotate(-180deg); 
    -webkit-transform:rotate(-180deg); 
    -o-transform:rotate(-180deg); 
    transform:rotate(-180deg);
    opacity:0;
  }
}

@-moz-keyframes move {
  0% {
    left:0; 
    opacity:0;
  }
  35% {
    left:41%; 
    -moz-transform:rotate(0deg); 
    transform:rotate(0deg);
    opacity:1;
  }
  65% {
    left:59%; 
    -moz-transform:rotate(0deg); 
    transform:rotate(0deg);
    opacity:1;
  }
  100% {
    left:100%; 
    -moz-transform:rotate(-180deg); 
    transform:rotate(-180deg);
    opacity:0;
  }
}

@-webkit-keyframes move {
  0% {
    left:0; 
    opacity:0;
  }
  35% {
    left:41%; 
    -webkit-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  65% {
    left:59%; 
    -webkit-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  100% {
    left:100%;
    -webkit-transform:rotate(-180deg); 
    transform:rotate(-180deg); 
    opacity:0;
  }
}

@-o-keyframes move {
  0% {
    left:0; 
    opacity:0;
  }
  35% {
    left:41%; 
    -o-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  65% {
    left:59%; 
    -o-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  100% {
    left:100%; 
    -o-transform:rotate(-180deg); 
    transform:rotate(-180deg); 
    opacity:0;
  }
}

.h111 {
  font-family: nothing;color: aliceblue;font-size: 80px;margin-left: 200px;
}

.b11 {
  background-color: rgb(41, 153, 45);height: 60px;width: 440px;border-radius: 5px;border: 0px;margin-left: 160px;
}

.b12 {
  background-color: rgb(41, 153, 45);height: 60px;width: 440px;border-radius: 5px;border: 0px;margin-left: 160px;
}

.b13 {
  background-color: rgb(127, 215, 130);height: 60px;width: 100px;border-radius: 5px;border: 0px;margin-left: 360px;
}

::placeholder {
  color: aliceblue;
}

.map {
  margin-left: 750px;margin-top: -23%;
}

